 body {
	background-color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 5 px;
	margin-bottom: 5 px;
	margin-left: 0;
	margin-right: 0;
}

p {
	color: #000000;
	font-size: 12px;
	line-height: 16px;
}

td, th, uline {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 24px;
	background-color: #FFFFFF;
}

a:link { color: #3366cc; text-decoration: none;}
a:visited { color: #3366cc; text-decoration: none;}
a:hover { color: #000000; text-decoration: underline;}
a:active { color: #3366cc; text-decoration: none;}

.title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 22px;
	line-height: 20px;
 	color: #000000;
}

.subtitle1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 20px;
 	color: #CC9933;
}

.subtitle1a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 20px;
 	color:#006600;
}

.subtitle2, h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	color: #CC9933;
}

.subtitle2 a:link, .subtitle2 a:visited, .subtitle2 a:active, .subtitle2 a:hover {
	color: #000000;
}

.title2a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 22px;
	line-height: 20px;
	font-weight: bold;
 	color: #CC9933;
}

.subtitle2a, h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 24px;
	color: #000000;
}

.subtitle2a a:link, .subtitle2a a:visited, .subtitle2a a:active, .subtitle2a a:hover {
	color: #CC9933;
}

h1 {
	color: #000000;
}

.subtitle3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	font-weight: normal;
	color: #CC9933;
}

.subtitle3 a:link, .subtitle3 a:visited, .subtitle3 a:active, a:hover {
	color: #000000;
}

.subtitle4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	font-weight: normal;
	color: #CC9933;
}

.bodytext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 14px;
	font-weight: normal;
	color: #000000;
}

.bodytextbold {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
	color: #000000;
}
.address {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	font-weight: normal;
	color: #000000;
}

.disclaimer {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
	font-style:normal;
	line-height:10px;
}

.calendar_month {
	background-color: #970100;
	color: #FFFFFF;
}

.calendar_day_header {
	background-color: #FFFFCC;
	color: #000000;
}

.calendar_day {
	background-color: #EEEEEE;
	color: #000000;
}

.calendar_current_day {
	background-color: #FFFFCC;
	color: #000000;
}

.calender_unused_days {
	background-color: #EEEEEE;
	color: #000000;
}

.uline {
	border-bottom:solid;
	border-color:#000;
}

/* CoolMenus 4 - default styles - do not edit */
.clCMAbs{position:absolute; visibility:hidden; left:0; top:0}
/* CoolMenus 4 - default styles - end */
  
/*Style for the background-bar*/
.clBar{position:absolute; width:10; height:10; background-color:Navy; layer-background-color:Navy; visibility:hidden}

/*Styles for level 0*/
.clLevel0,.clLevel0over,
.clLevel0select{position:absolute; padding:2px; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; cursor:pointer; cursor:hand; text-align:center; vertical-align:middle;}
.clLevel0{background-color:#000000; layer-background-color:#000000; color:#FFCC33;}
.clLevel0over{background-color:#FFCC33; layer-background-color:#FFCC33; color:#000000;}
.clLevel0select{background-color:#FFCC33; layer-background-color:#FFCC33; color:#000000;}
.clLevel0border{position:absolute; visibility:hidden; background-color:#000000; layer-background-color:#000000;}

/*Styles for level 1*/
.clLevel1, .clLevel1over{position:absolute; padding:2px; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:13px; font-weight:bold; cursor:pointer; cursor:hand; text-align:center; vertical-align:middle;}
.clLevel1{background-color:#cccccc; layer-background-color:#000000; color:#000000;}
.clLevel1over{background-color:#FFCC33; layer-background-color:#FFCC33; color:#000000;}
.clLevel1border{position:absolute; visibility:hidden; background-color:#000000; layer-background-color:#FFCC33;}